/node_modules

/storage/*.key
*.exe
/.idea
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.bat
*.lock
*.js
package-lock.json


/node_modules
/vendor
/.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.bat
*.lock

