    /*
    Flaticon icon font: Flaticon
    Creation date: 19/10/2019 20:25
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-add:before { content: "\f100"; }
.flaticon-user:before { content: "\f101"; }
.flaticon-growth:before { content: "\f102"; }
.flaticon-bin:before { content: "\f103"; }
.flaticon-eye:before { content: "\f104"; }
.flaticon-geschaft-und-finanzen:before { content: "\f105"; }
.flaticon-customer-support:before { content: "\f106"; }
.flaticon-save-file:before { content: "\f107"; }
.flaticon-commerce-and-shopping:before { content: "\f108"; }
.flaticon-commerce-and-shopping-1:before { content: "\f109"; }
.flaticon-commerce-and-shopping-2:before { content: "\f10a"; }
.flaticon-commerce-and-shopping-3:before { content: "\f10b"; }
.flaticon-edit:before { content: "\f10c"; }
.flaticon-execution:before { content: "\f10d"; }
.flaticon-cms:before { content: "\f10e"; }
.flaticon-plan:before { content: "\f10f"; }
.flaticon-sketch:before { content: "\f110"; }
.flaticon-network:before { content: "\f111"; }
.flaticon-clock:before { content: "\f112"; }
.flaticon-placeholder:before { content: "\f113"; }
.flaticon-distributed:before { content: "\f114"; }
.flaticon-team:before { content: "\f115"; }
.flaticon-contract:before { content: "\f116"; }
.flaticon-users-group:before { content: "\f117"; }
.flaticon-group-of-users-silhouette:before { content: "\f118"; }
.flaticon-user-with-computer-monitor-and-bar-graphs:before { content: "\f119"; }
.flaticon-problem:before { content: "\f11a"; }
.flaticon-analytics:before { content: "\f11b"; }
.flaticon-startup:before { content: "\f11c"; }
.flaticon-plea:before { content: "\f11d"; }
.flaticon-partner:before { content: "\f11e"; }
.flaticon-success:before { content: "\f11f"; }
    
    $font-Flaticon-add: "\f100";
    $font-Flaticon-user: "\f101";
    $font-Flaticon-growth: "\f102";
    $font-Flaticon-bin: "\f103";
    $font-Flaticon-eye: "\f104";
    $font-Flaticon-geschaft-und-finanzen: "\f105";
    $font-Flaticon-customer-support: "\f106";
    $font-Flaticon-save-file: "\f107";
    $font-Flaticon-commerce-and-shopping: "\f108";
    $font-Flaticon-commerce-and-shopping-1: "\f109";
    $font-Flaticon-commerce-and-shopping-2: "\f10a";
    $font-Flaticon-commerce-and-shopping-3: "\f10b";
    $font-Flaticon-edit: "\f10c";
    $font-Flaticon-execution: "\f10d";
    $font-Flaticon-cms: "\f10e";
    $font-Flaticon-plan: "\f10f";
    $font-Flaticon-sketch: "\f110";
    $font-Flaticon-network: "\f111";
    $font-Flaticon-clock: "\f112";
    $font-Flaticon-placeholder: "\f113";
    $font-Flaticon-distributed: "\f114";
    $font-Flaticon-team: "\f115";
    $font-Flaticon-contract: "\f116";
    $font-Flaticon-users-group: "\f117";
    $font-Flaticon-group-of-users-silhouette: "\f118";
    $font-Flaticon-user-with-computer-monitor-and-bar-graphs: "\f119";
    $font-Flaticon-problem: "\f11a";
    $font-Flaticon-analytics: "\f11b";
    $font-Flaticon-startup: "\f11c";
    $font-Flaticon-plea: "\f11d";
    $font-Flaticon-partner: "\f11e";
    $font-Flaticon-success: "\f11f";